* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: relative;
  background-color: hsl(26, 85%, 80%);
  width: 100%;
}

nav ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

body {
  background-color:  #EFEFD0;
}

main p {
  margin-inline: 2rem;
  margin-block: 2rem;
  border: 1px solid hsl(0, 0%, 0%);
}

footer {
  text-align: center;
  width: 100&;
  padding: 2rem;
  background-color: hsl(22, 57%, 52%);
}