* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  position: fixed;
  background-color: hsl(26, 85%, 80%);
  width: 100%;
}

body {
  background-color:  #EFEFD0;
}

p {
  margin-inline: 2rem;
  margin-block: 2rem;
}

footer {
  width: 100&;
  padding: 10px;
  background-color: hsl(22, 57%, 52%);
}