/* typography */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: "Poppins", serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;
